 <header class="header"><app-menu></app-menu></header>

 <div class="container">
 <body>
    

    <header class="showcase">
        <h2>BAROFT</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est assumenda eum id voluptates, consequuntur esse ab nobis dolorum harum fugit exercitationem qui repellendus illum perferendis delectus alias obcaecati temporibus quas?</p>
    </header>

    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestros servicios</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="../../../assets/images//barbero.jpg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Los mejores servicios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dignissimos nostrum odio animi quis quam eos illo, totam hic deserunt doloremque laborum inventore at, quos delectus, ipsam harum. Iusto, vitae?</p>
                <h3><span>2</span>Los mejores servicios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dignissimos nostrum odio animi quis quam eos illo, totam hic deserunt doloremque laborum inventore at, quos delectus, ipsam harum. Iusto, vitae?</p>
            </div>
        </div>
    </section>




    <h3 class="titulo">Nuestros barberos
    <div class="news-cards">

        <!-- <h3 class="titulo">Nuestos barberos -->
            <div>
                <img src="../../../assets/images/barbero1.jpg" alt="">
                <h3>SEBASTIAN</h3>
                
                <p> • Recomendar peinados y cortes de pelo </p>
                <p> • Cortar, recortar y rasurar pelo utilizando un equipo profesional</p>
                <p> • Aplicar una gran variedad de técnicas de coloración</p>
                <p> • Crear peinados para eventos formales y looks de diario</p>
                <p> • Aplicar productos de tratamiento capilar, cuando sea necesario </p>
                <p> • Gestionar reservas y atender a los clientes que entran sin cita</p>

            </div>
    
            <div>
                <img src="../../../assets/images/barbero2.jpg" alt="">
                <h3>SANTIAGO</h3>
                
                <p> • Recomendar peinados y cortes de pelo </p>
                <p> • Cortar, recortar y rasurar pelo utilizando un equipo profesional</p>
                <p> • Aplicar una gran variedad de técnicas de coloración</p>
                <p> • Crear peinados para eventos formales y looks de diario</p>
                <p> • Aplicar productos de tratamiento capilar, cuando sea necesario </p>
                <p> • Gestionar reservas y atender a los clientes que entran sin cita</p>
            </div>
    
            <div>
                <img src="../../../assets/images/barbero3.jpg" alt="">
                <h3>MARTIN</h3>
                
                <p> • Recomendar peinados y cortes de pelo </p>
                <p> • Cortar, recortar y rasurar pelo utilizando un equipo profesional</p>
                <p> • Aplicar una gran variedad de técnicas de coloración</p>
                <p> • Crear peinados para eventos formales y looks de diario</p>
                <p> • Aplicar productos de tratamiento capilar, cuando sea necesario </p>
                <p> • Gestionar reservas y atender a los clientes que entran sin cita</p>           
             </div>
    
    </div>
</h3>
        <h2 class="titulo">Otras Cedes</h2>
        <section class="cards-banner-one">
            
            <div class="content">
                <h4>No se que va</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Reiciendis vel tempore, voluptas doloremque delectus 
                    fugiat dolore vitae voluptatum repellat maiores.</p>

            </div>

        </section>

        <section class="social">
            <p>INFO - CONTACTO</p>
        <div class="info">

            <div class="content-foo">
                <h4>Phone</h4>
                <h5>8286596 - 3144494801</h5>
            </div>

            <div class="content-foo">
                <h4>Email</h4>
                <h5>baroft@gmail</h5>
            </div>

            <div class="content-foo">
                <h4>Location</h4>
                <h5>Carr3#1-23</h5>
            </div>

        </div>
            
    </section>

   
 </body>
</div>


<!-- 
<body>

    <main>
        <div class="contenedor">

            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Nuestos servicios</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="../../../../assets/images/barbero.jpg" alt="" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>1</span>Los mejores servicios</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dignissimos nostrum odio animi quis quam eos illo, totam hic deserunt doloremque laborum inventore at, quos delectus, ipsam harum. Iusto, vitae?</p>
                        <h3><span>2</span>Los mejores servicios</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dignissimos nostrum odio animi quis quam eos illo, totam hic deserunt doloremque laborum inventore at, quos delectus, ipsam harum. Iusto, vitae?</p>
                    </div>
                </div>
            </section>



            <section class="cortes">
                <div class="contenedor">
                    <h2 class="titulo">Algunos Cortes</h2>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
    
                    <div class="cortes-port">
                        <div class="imagen-port">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                        </div>
                    </div>
                </div>
            </section>

        

            <section class="reconocimientos contenedor">
                <h2 class="titulo">Reconocimientos</h2>
                <div class="cards">
                    <div class="card">
                    <img src="../../../../assets/images/prueba.jpg" alt="" >
                        <div class="contenido-texto-card">
                            <h4>name1</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque consequatur nesciunt aspernatur vitae repellendus sint nulla? Mollitia cum assumenda quod hic at ipsam error. Aliquam maxime dolorum est tempora?</p>
                        </div>
                    </div>
    
                    <div class="card">
                        <img src="../../../../assets/images/prueba.jpg" alt="" >
                            <div class="contenido-texto-card">
                                <h4>name2</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis cumque consequatur nesciunt aspernatur vitae repellendus sint nulla? Mollitia cum assumenda quod hic at ipsam error. Aliquam maxime dolorum est tempora?</p>
                            </div>
                    </div>
    
                </div>
            </section>



            <section class="about-services">
                <div class="contenedor">
                    <h2 class="titulo">Algunos servicios</h2>
                    <div class="servicio-cont">
    
                        <div class="servicio-ind">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                            <h3>Name</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, et. Sed cum reiciendis ratione nobis sapiente similique. Tempora animi, recusandae ad eius odit aspernatur ratione. Reprehenderit mollitia blanditiis at necessitatibus?</p>
                        </div>
    
                        <div class="servicio-ind">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                            <h3>Name</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, et. Sed cum reiciendis ratione nobis sapiente similique. Tempora animi, recusandae ad eius odit aspernatur ratione. Reprehenderit mollitia blanditiis at necessitatibus?</p>
                        </div>
    
                        <div class="servicio-ind">
                            <img src="../../../../assets/images/prueba.jpg" alt="" >
                            <h3>Name</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, et. Sed cum reiciendis ratione nobis sapiente similique. Tempora animi, recusandae ad eius odit aspernatur ratione. Reprehenderit mollitia blanditiis at necessitatibus?</p>
                        </div>
    
                    </div>
    
                </div>
    
            </section>


    </div>


    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>8286596 - 3144494801</p>
            </div>

            <div class="content-foo">
                <h4>Email</h4>
                <p>baroft@gmail</p>
            </div>

            <div class="content-foo">
                <h4>Location</h4>
                <p>Carr3#1-23</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; Sebastian Mondragon | Siigo S.A.S</h2>
    </footer>


</body>

 -->