

    <nav class="nav">
        <div class="divcenter"> 
    
            <ul id="nav-mobile" class="containerrr">
                <li><i class="icon" class="material-icons">home</i></li>
    
                <li class="baroft"><a href="/dashboard">BAROFT</a></li>
    
                <li class="li"><a href="/dashboard/barbers">Barberos</a></li>
                <li class="li"><a href="/dashboard/list-services">Servicios</a></li>
                <li class="li"><a href="/dashboard/comments">Comentatios</a></li>
                <li class="li"><a href="/dashboard/appointments">Citas</a></li>
                <li class="li"><a href="/dashboard/invoices">Facturas</a></li>
                <li class="log"><a id="logout" (click)="logout()"> 
                    Logout</a></li>
              </ul>
        </div>
    </nav> 


    
